@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ensimmäinen WebDemo</h1>
    <h2>Testaillaan eri toimintoja.</h2>
    <h6>Ja vähän pienempää fonttia.</h6>
    <p>Tästä lähdetään kehittämään omaa web sovellusta.</p>
</div>
